@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.footer-small {
  @apply text-[#2a2929b3] font-normal
}



.button-primary {
  background-color: #274279 !important;
  color: white !important;
}

.body-color {
  background: white !important;
}

.container {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}




.bnr-cnt-area {
  margin-top: 125px;
}



.sg-title-txt {
  font-size: 40px;
  font-weight: 600;
  margin: 15px 0;
  color: #092847;
  line-height: 55px;
}

.sub-title {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
  margin-top: 15px;
  color: #092847;
  line-height: 1.2;
}

.sub-title-style::before {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;

  top: 48px;
  background: #092847;
  border-radius: 5px;
  right: 40%;
  transform: translate(-40%);
}

.sub-title-style::after {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;
  top: 48px;
  background: #092847;
  border-radius: 5px;
  left: 46%;
  transform: translate(-45%);
}

.sub-title-style-2::before {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;

  top: 48px;
  background: #092847;
  border-radius: 5px;
  right: 40%;
  transform: translate(-40%);
}

.sub-title-style-2::after {
  content: "";
  width: 80px;
  height: 5px;
  position: absolute;
  top: 48px;
  background: #092847;
  border-radius: 5px;
  left: 46%;
  transform: translate(-45%);
}

.ant-select-selection-item {
  /* font-size: 16px; */
  font-weight: 500 !important;
  color: "#335880";
}

.ant-select-item-option-content {

  font-weight: 500 !important;
  /* font-size: 16px; */
  color: "#335880";
}

.ant-input-borderless {

  font-weight: 500 !important;
  color: "#335880";
}

.ant-select-dropdown {
  position: absolute;
  left: 80px;
  top: 80px;
  bottom: 80;

}

/* 
.ant-menu-root {
  color: yellowgreen !important;
} */

.sg-title-sub-tx {
  font-size: 16px;
  color: #858585;
  margin-bottom: 25px;
}

/* 
find button
*/
.find-btn {
  background: #335880;
  padding: 12.5px 15px;
  color: #f3f3f3 !important;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  display: inline-flex;
  transition: all 0.7s;
  border: none;
  margin-right: 4px;
  border-radius: 7px;
  white-space: nowrap !important
}

.search-shadow {
  box-shadow: 0px 2px 4px 3px #dfdfdf
}

/* seatch box */
.search-box {
  background: #fff;
  /* padding: 4px 8px; */
  border-radius: 10px;
  position: relative;
  top: 0;
  box-shadow: 0px 2px 4px 3px #dfdfdf;
  margin-bottom: 30px;
}

.search-box .form-control {
  background: transparent;
  width: 100%;
  padding: 13px 13px;
  border-radius: 0px;
  border: none;
  outline: none;
}

.f-pin {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.f-pin::before {
  content: "";
  width: 1px;
  height: 30px;
  background: #9ca0a5;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
}



.f-subject {
  position: relative;
  display: flex;
  align-items: center;
}



.search-item {
  border-bottom: #10858b !important;
}

/* @media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

 */
/* Banner Footer Information  */
/* .sg-bnr-info {
  background: #f8fbff;
} */





.clr-01 {
  color: #092847 !important;
}

.clr-02 {
  color: #564ffd !important;
}

.clr-03 {
  color: #e34444 !important;
  ;
}

/* .clr-04 {
  color: #1089ff !important;
} */

.icon-size {
  font-size: 45px !important;
  display: inline-block !important;
  margin-right: 8px !important;
}

/* End Banner Footer Information  */



/* 
####################################################
*/

/* Home Page Demo Section Design  */
/* .req-demo-cnt {
  padding: 60px 0;
  background: #fbfeff;
} */



.req-demo-info-cnt h3 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 30px;
  color: #10858b;
  margin-top: 20px;
}

.req-demo-form {

  background: #e6f3f9;
  border-radius: 10px;
}




.req-demo-step {
  padding: 15px;
  box-shadow: 2px 2px 2px 2px #ddd;
  border-radius: 5px;
  background: #fff;
}

.req-demo-step h4 {
  text-align: center;
}

.req-demo-step h4 span {
  display: block;
  font-size: 22px;
  font-weight: 600;
}

.req-demo-step h4 small {
  display: block;
  font-size: 20px;
  font-weight: 400;
  margin-top: 8px;
  color: #10858b;
}

.req-demo-step h6 {
  text-align: center;
  margin: 0 auto;
  font-size: 23px;
  color: #10858b;
}

.req-demo-info-img {
  margin-top: 70px;
  display: block;
}

.sg-form-group {
  display: block;
  margin-bottom: 15px;
}


.sg-form-label {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #565656;
}

.sg-form-control {
  border: 2px solid #D2D2D2 !important;
  border-radius: 5px !important;
  display: block !important;
  width: 100% !important;
  padding: 7px !important;
  margin-bottom: 5px !important;
}


.sendRequestButton {
  display: inline-block;
  background: #274279;
  padding: 8px 15px;
  border-radius: 5px;
  color: #fff;
  border: none;
  margin-top: 1rem !important
}

/* End Home Page Demo Section Design  */

/* 
########################################## SERVICES
*/

.services-info {
  padding-bottom: 6rem;
  padding-top: 6rem;
  opacity: 1;
  background-color: rgb(251 251 253/var(--tw-bg-opacity));
}

.personaliseCard {
  box-shadow: 0px 0px 35px rgba(56, 183, 255, 0.15);
  border-radius: 20px 30px 20px 20px;


}

.stylish-bar1 {
  background: linear-gradient(rgb(0, 191, 252), rgb(181, 224, 255));
}

.stylish-bar2 {
  background: linear-gradient(rgb(4, 195, 176), rgb(174, 250, 243));
}

.stylish-bar3 {
  background: linear-gradient(rgb(108, 177, 43), rgb(225, 255, 186));
}

.stylish-bar4 {
  background: linear-gradient(rgb(250, 106, 159), rgb(255, 199, 219))
}

.stylish-bar5 {
  background: linear-gradient(rgb(219, 172, 78), rgb(255, 243, 209));
}

.stylish-bar6 {
  background: linear-gradient(rgb(149, 130, 255), rgb(229, 225, 255));
}

/* .gradient-text {
  background: linear-gradient(90deg, #011afb, #011afb, #ffffff, #011afb);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
} */

/* 
############   services  */

.mantine-1lq8d0z {
  font-family: Poppins;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: 1.55;
  text-decoration: none;
}

.subjectPageCard {
  width: 349px;
  /* height: 414px; */
  box-shadow: 0px 9px 26px rgba(128, 140, 255, 0.15);
  border-radius: 30px;
  background-color: white;
}

.heading {

  font-size: 1.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.5rem;
}

.mantine-1lq8d0z {
  font-family: Poppins;
  -webkit-tap-highlight-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: 1.55;
  text-decoration: none;
}


/* 
---------- COURSE DETAILS

*/

.main-area {

  background: #f3f6fd;
}

.bk-prv-btn {
  display: block;
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-dflt-cnt {
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
}

.user-info-flt {

  border-right: 2px solid #ddd;
}



.sgundtls {
  width: 250px;
  margin-left: 50px;
}



.sgundtls .a-detail-box {
  margin-top: 17px;
}

/* .hg {

  font-size: 26px;
  display: block;
  line-height: 17px;
  margin-bottom: 13px;

} */


/* 
ant menu
*/

/* .ant-menu-title-content {
  color: red !important;

} */


.buttonCOurse {
  background: #092847 !important;
  padding: 5px 10px !important;
  color: #fff !important;
  font-size: 14px !important;
  margin-right: 15px !important;
  cursor: pointer !important;
  border-radius: 4px !important;
  /* display: inline-block !important; */

}


/* 
notification dropdown
*/

/* Default max height for small devices */
.overlay {
  max-height: 120px;
  background-color: #564ffd !important;
}


/* 

CAEROSEL
*/



.carousel {
  overflow: hidden;
  white-space: nowrap;
  animation: marquee 10s linear infinite;
}

.sentence {
  display: inline-block;
  margin-right: 20px;
}

/* 
contact
*/



@keyframes marquee {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Responsive max height for medium devices (md) */
@media (min-width: 768px) {
  .overlay {
    max-height: 200px;
  }
}


@media (min-width: 768px) {
  .your-banner-class {

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    height: "330px";
    padding: 0 40px;
    /* Add any other styles for large devices here */
  }

  .container {
    max-width: 1152px;
  }

  .desk-none {
    display: none !important;
  }
}

/* 
dropdown
*/

.sub-menu-1 {
  display: none;
}

.menu-bar ul li:hover .sub-menu-1 {
  display: block;
  position: absolute;
  margin-top: 18px;
  margin-left: -15px;

}

.menu-bar ul li:hover .sub-menu-1 ul {
  display: block;
  margin: 10px;
}


.menu-bar ul li:hover .sub-menu-1 ul li {

  border-bottom: 1px dotted #fff;

}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child {

  border-bottom: none;

}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover {

  color: yellow;

}

.menu-bar ul li:hover .sub-menu-1 ul li a {


  color: white;

}

/* 
submenu 2
*/
.submenu-2 {
  display: none;
}

.hover-me:hover .submenu-2 {

  display: block;
  position: absolute;
  margin-top: -32px;
  margin-left: 114px;

}





/* @media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
} */

/* For small devices (screen width < 768px) */
@media (max-width: 767px) {
  .your-banner-class {

    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    height: "130px";
    background-color: rgb(140, 199, 249);

    /* Add any other styles for small devices here */
  }

  .sub-title-style::before {
    content: "";
    width: 43px;
    height: 5px;
    position: absolute;
    top: 45px;
    background: #092847;
    border-radius: 5px;
    right: 46%;
    transform: translate(-40%);
  }

  .sub-title-style::after {
    content: "";
    width: 43px;
    height: 5px;
    position: absolute;
    top: 45px;
    background: #092847;
    border-radius: 5px;
    left: 56%;
    transform: translate(-45%);
  }

  .sub-title-style-2::before {
    content: "";
    width: 43px;
    height: 5px;
    position: absolute;
    top: 79px;
    background: #092847;
    border-radius: 5px;
    right: 46%;
    transform: translate(-40%);
  }

  .sub-title-style-2::after {
    content: "";
    width: 43px;
    height: 5px;
    position: absolute;
    top: 79px;
    background: #092847;
    border-radius: 5px;
    left: 56%;
    transform: translate(-45%);
  }

}